<% if current_user %>
    <% if current_user.usertype? %>
    <h1>Welcome to <%= current_user.usertype %> dashboard</h1>
    <% else %>
        <h3>You are guest user. Please refer to admin for rights. </h3>
    <% end %>
<% else %>
    <% controller.redirect_to new_user_session_path %>
<% end %>